@import "tailwindcss";

/* Preline UI */
@import "../node_modules/preline/variants.css";

/* index.css */
:root {
  --primary-color: #1a1a1a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
  color: var(--primary-color);
}